section {
	color: pink;
	
}
img.pic{

}
body{
	font-size: 24px;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-image: url(../img/back.JPG);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;

}
a{
	color: yellow;
}